1. Create a list of 10 elements of four different data types like int, string, complex and float.

In [ ]:
l=[complex(1,1),1.0,1,"ekgnrogte",10.5,complex(1,2),"ert","",2,10]

2. Create a list of size 5 and execute the slicing structure

In [14]:
l=[0,1,2,3,4]
print(f"list is {l}")
print(f"last element of list is {l[-1]}")
print(f"first element of list is {l[0]}")
print(f"list in reverse order is {l[::-1]}")
print(f"list in reverse order in 2 steps{l[5::-2]}")

"""
To slice a list, you use the following syntax:
l[start:end:step]
where start is the index of the first element you want to include in the slice,end is the index of the first element you want to exclude from the slice, and step is the number of elements you want to skip between each element in the slice.
"""

list is [0, 1, 2, 3, 4]
last element of list is 4
first element of list is 0
list in reverse order is [4, 3, 2, 1, 0]
[4, 2, 0]

3. Write a program to get the sum and multiply of all the items in a given list.

In [ ]:
def add_mul(l):
    sum=0
    mul=1
    for i in l:
        sum+=i
        mul*=i
    print(f"sum of list is {sum}")
    print(f"multiplication of list is {mul}")
    return sum,mul

4. Find the largest and smallest number from a given list.

In [ ]:
def max_min(l):
    max=l[0]
    min=l[0]
    for i in l:
        if i>max:
            max=i
        if i<min:
            min=i
    print(f"max of list is {max}")
    print(f"min of list is {min}")
    return max,min

# Or you can use the following code

maximum=max(l)
minimum=min(l)
print(f"max of list is {maximum}")
print(f"min of list is {minimum}")

5. Create a new list which contains the specified numbers after removing the even numbers from a
predefined list.

In [ ]:
def rm_even(l):
    for i in l:
        if i%2==0:
            l.remove(i)
    print(f"list after removing even numbers is {l}")
    return l

6. Create a list of elements such that it contains the squares of the first and last 5 elements between
1 and30 (both included).

In [22]:
x=range(2,30)
x=[x[0]]+list(x[-5:])
ans=[i**2 for i in x]
print(ans)

[4, 625, 676, 729, 784, 841]

7. Write a program to replace the last element in a list with another list.
Sample input: [1,3,5,7,9,10], [2,4,6,8]
Expected output: [1,3,5,7,9,2,4,6,8]

In [23]:
def rm_add(l1,l2):
    return l1[:-1]+l2

l1=[1,2,3]
l2=[4,5,6]
print(rm_add(l1,l2))

[1, 2, 4, 5, 6]

8. Create a new dictionary by concatenating the following two dictionaries:
Sample input: a={1:10,2:20} b={3:30,4:40}
Expected output: {1:10,2:20,3:30,4:40}

In [24]:
a={1:2,3:4,5:6}
b={7:8,9:10,11:12}
a.update(b)
print(a)

{1: 2, 3: 4, 5: 6, 7: 8, 9: 10, 11: 12}

9. Create a dictionary that contain numbers in the form(x:x*x) where x takes all the values between 1
and n(both 1 and n included).
Sample input: n=5
Expected output: {1:1, 2:4, 3:9, 4:16, 5:25}

In [25]:
def create_dict(n: int):
    return {i:i**2 for i in range(1,n+1)}
print(create_dict(5))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

10. Write a program which accepts a sequence of comma-separated numbers from console and
generates a list and a tuple which contains every number in the form of string.
Sample input: 34,67,55,33,12,98
Expected output: [‘34’,’67’,’55’,’33’,’12’,’98’] (‘34’,’67’,’55’,’33’,’12’,’98’)

In [28]:
def get_nums():
    nums=input("Enter numbers separated by comma: ").split(",")
    return nums,tuple(i for i in nums)
a,b=get_nums()
print(a,b)

['1', '2', '3', '4', '5'] ('1', '2', '3', '4', '5')